body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 86%;
	margin-left: 6.5%;
	margin-right: auto;
	overflow: auto;
}

.menu {
	margin-left: auto;
	margin-right: auto;
}

.menu li {
	float: left;
	width: 33.33%;
	text-align: center;
	list-style-type: none;
}

.menu a {
	text-decoration: none;
	color: #000;
}

@keyframes aparecer{
	from{
		transform: scaleY(0);
	}
	to{
		transform: scaleY(1);
	}
}

.sub-menu a{
	transform: scaleY(0);
	transform-origin: top center;
	animation-name: aparecer;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}